
body {
  background: no-repeat url("img/bgpic.jpg");
  background-size: cover;
  margin: 0;
}
.header{
  width:100%;
  background-color:#004608 ;
  color:white;
  text-align: center;
  padding: 40px;
  font-size: 30px;
  font-weight: bolder;
  }
  footer {
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  background-color:#004608 ;
  color:white;
  text-align: center;
  padding: 20px; 
  font-size: 12px;
  }
fieldset {
  background-color: ghostwhite;
  background-image: linear-gradient(to bottom right, ghostwhite, white);
  border: 1px solid ghostwhite ;
  width: 70%;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 30px;
  line-height: 2;  
  box-shadow: 15px 10px 10px black; 
}
.content {
  background-color: ghostwhite;
  background-image: linear-gradient(to bottom right, ghostwhite, white);
  border: 1px solid ghostwhite ;
  width: 70%;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 30px;
  line-height: 2;   
  box-shadow: 15px 10px 10px black;
  align-items: center;
}
h1 {
  text-align: center;  
}
p {
  text-align: justify;
  text-justify: inter-word;

}
.topnav {
  background-color: #004608	;
  overflow: hidden;
  width: 100% 
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.active {
  background-color: #00600b	;
  color: white;
}
.topnav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;  
}
.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #004608;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #00600b;
  color: white;
}
.dropdown-content a:hover {
  background-color:  #00600b;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.image {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  margin-bottom:5%;
}
input[type=text].error {
  border-bottom: 1px solid red;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
